<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Post</title>
</head>
<body>
    <form action="/update-post/<%=user._id %>" method="post" id="form">
        <div class="post-info">
            <input type="text" name="name" id="post-name" value="<%= user.name %>">
            <textarea name="message" id="post-content"><%= user.message %></textarea>
        </div>
        
            <button id="sub-btn">Submit</button>
        </form>
    
</body>
</html>